<!DOCTYPE html>
	<html lang="en">
		<head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121307366-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-121307366-1');
			</script>
			<title>{{ page.title }}</title>
            <!-- Latest compiled and minified CSS -->
            <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

            <!-- Optional theme -->
            <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
            
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!-- link to favicon -->
			<link rel="shortcut icon" type="image/png" href="/favicon.png">
		</head>
		<body>
			<nav>
	    		<ul>
                    <li><a href="/">Home/About</a></li>
                    <li><a href="/expertise">Expertise</a></li>
                    <li><a href="/insights">Insights</a></li>
                    <li><a href="/artifacts/">Artifacts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
            <ul>
                <li><a href="/insights/atom.xml">atom feed</a></li>
                <li><a href="https://www.fiverr.com/brainoftech/be-the-ai-consultant-for-your-small-business">consulting</a></li>
                <li><a href="mailto:sam_saarinen@brown.edu">email</a></li>
                <li><a href="https://github.com/Sam-Saarinen">github.com/Sam-Saarinen</a></li>
                <li><a href="https://www.linkedin.com/in/sam-saarinen/">linkedin</a></li>
                <li><a href="https://www.packtpub.com/big-data-and-business-intelligence/hands-artificial-intelligence-small-businesses-video">video course</a></li>
                <li><a href="https://www.youtube.com/channel/UCNXQ5nckbdbRHZjZXk9GT_Q/featured">YouTube</a></li>
            </ul>
			<br>
			All content ©2018, 2019 (S)am.
			</footer>
            
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
		</body>
	</html>
