<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121307366-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121307366-1');
    </script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- link to favicon -->
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
      
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header class="page-header" role="banner">
        
        <a class="btn" href="/">Home/About</a>
        <a class="btn" href="/expertise">Expertise</a>
        <a class="btn" href="/insights">Insights</a>
        <a class="btn" href="/artifacts/">Artifacts</a>
      <!--<h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
      <!--<h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
      <!--{% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}-->
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    <footer class="site-footer">
        <ul>
            <li><a href="/insights/atom.xml">atom feed</a></li>
            <li><a href="https://www.fiverr.com/brainoftech/be-the-ai-consultant-for-your-small-business">consulting</a></li>
            <li><a href="mailto:sam_saarinen@brown.edu">email</a></li>
            <li><a href="https://github.com/Sam-Saarinen">github.com/Sam-Saarinen</a></li>
            <li><a href="https://www.linkedin.com/in/sam-saarinen/">linkedin</a></li>
            <li><a href="https://www.packtpub.com/big-data-and-business-intelligence/hands-artificial-intelligence-small-businesses-video">video course</a></li>
            <li><a href="https://www.youtube.com/channel/UCNXQ5nckbdbRHZjZXk9GT_Q/featured">YouTube</a></li>
        </ul>
        <br>
        All content ©2018, 2019 (S)am.
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  </body>
</html>