<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121307366-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121307366-1');
    </script>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Latest compiled and minified CSS -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <!-- link to main stylesheet -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- link to favicon -->
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
      
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header class="page-header" role="banner">
        
        <a class="btn" href="/">Home/About</a>
        <a class="btn" href="/expertise">Expertise</a>
        <a class="btn" href="/insights">Insights</a>
        <a class="btn" href="/artifacts/">Artifacts</a>
      <!--<h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
      <!--<h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
      <!--{% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}-->
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    
        <!--Zoho Campaigns Web-Optin Form's Header Code Starts Here-->

<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<script type="text/javascript" src="https://edap.maillist-manage.com/js/optin.min.js" onload="setupSF('sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982','ZCFORMVIEW',false,'light')"></script>
<script type="text/javascript">
	function runOnFormSubmit_sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982(th){
		/*Before submit, if you want to trigger your event, "include your code here"*/
	};
</script>

<style>
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 .quickFormHorizontal [name=SIGNUP_SUBMIT_BUTTON]{
white-space: normal !important;
}
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 #customForm *{
-webkit-box-sizing: border-box !important;
-moz-box-sizing: border-box !important;
box-sizing: border-box !important;
word-break:break-word;
overflow-wrap: break-word;
}
/*** RESPONSIVE START */
@media only screen and (max-width: 200px){
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 #SIGNUP_BODY{
max-idth:200px !important;
margin: 0px auto !important;
}
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 #SIGNUP_PAGE{
padding:0px !important	
}
}
/*Major Mobiles*/
@media screen and (min-width: 320px) and (max-width: 580px) and (orientation : portrait){
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 [name='SIGNUP_BODY']{
max-width:100% !important;
margin: 0px auto !important;
}
}
/* iPads*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 [name='SIGNUP_BODY']{
max-width:760px !important;
margin: 0px auto !important;
}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 [name='SIGNUP_BODY']{
width:1016px !important;
max-width:1016px !important;
margin: 0px auto !important;
}
}
@media screen and (min-width: 475px) and (max-width: 980px) and (orientation : landscape){
#sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982 #SIGNUP_PAGE{
max-width:100% !important;
padding:0px !important;
}
}
/*** RESPONSIVE END */
.quick_form_27_css form{padding:15px}
</style>

<!--Zoho Campaigns Web-Optin Form's Header Code Ends Here--><!--Zoho Campaigns Web-Optin Form Starts Here-->

<div id="sf672a1f1946a82fcd816f78c7b028bbb125a6473321217982" data-type="signupform">
	<div id="customForm">
		<input id="signupFormType" type="hidden" value="QuickForm_Horizontal">
		<div class="quickFormHorizontal quick_form_27_css" id="SIGNUP_BODY" style="margin: 0px auto; padding: 0px; border: 1px solid rgb(177, 169, 169); border-image: none; width: 600px; overflow: hidden; background-color: rgb(255, 255, 255);" name="SIGNUP_BODY">
			<div id="SIGNUP_HEADING" style="border-width: 1px; border-style: none; text-align: left; color: #1e6bb8; padding-top: 20px; padding-right: 10px; padding-left: 20px; font-family: Arial; font-size: 14px; font-weight: bold;" name="SIGNUP_HEADING" changetype="SIGNUP_HEADER" changeid="SIGNUP_MSG">Subscribe - Get new insights from the frontier of AI and Education.</div>
			<div style="position:relative;">
				<div id="Zc_SignupSuccess" style="display:none;position:absolute;margin-left:4%;width:90%;background-color: white; padding: 3px; border: 3px solid rgb(194, 225, 154);  margin-top: 10px;margin-bottom:10px;word-break:break-all">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td width="10%">
									<img align="absmiddle" class="successicon" src="https://edap.maillist-manage.com/images/challangeiconenable.jpg">
								</td>
								<td>
									<span id="signupSuccessMsg" style="color: rgb(73, 140, 132); font-family: sans-serif; font-size: 14px;word-break:break-word">&nbsp;&nbsp;Thank you for Signing Up</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<form id="zcampaignOptinForm" style="margin:0px;" action="https://edap.maillist-manage.com/weboptin.zc" method="POST" target="_zcSignup">
				<div id="errorMsgDiv" style="display:none;background-color:#FFEBE8;padding:10px 10px; color:#d20000; font-size:11px; margin:10px;border:solid 1px #ffd9d3; margin-top:20px;">&nbsp;&nbsp;Please correct the marked field(s) below.</div>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td align="left" valign="top">
								<div style=" padding-right:10px;padding-bottom:10px;padding-left:10px;">
									<span>
										<span>
											<input name="CONTACT_EMAIL" id="CONTACT_EMAIL" style="margin: 0px 10px 0px 0px; padding: 7px; outline: invert; border-radius: 24px; border: 1px solid rgb(235, 235, 235); border-image: none; width: 60%; height: 36px; color: rgb(136, 136, 136); line-height: 20px; text-indent: 15px; font-size: 17px; vertical-align: middle; box-sizing: border-box; background-color: rgb(255, 255, 255);" type="text" placeholder="Email" changetype="CONTACT_EMAIL" savetype="EMBED_FORM_EMAIL_LABEL" changeitem="SIGNUP_FORM_FIELD">
											<span id="dt_CONTACT_EMAIL" style="display:none">1,true,6,Contact Email,2</span>
										</span>
									</span>
									<span style="padding-left:0px; padding-right:0px;padding-bottom:10px;">
										<input name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin" style="margin: 0px 0px 0px 20px; padding: 0px; outline: 0px; border-radius: 24px; border: medium; border-image: none; width: 28%; height: 38px; text-align: center; background-image: linear-gradient(120deg, rgb(21, 87, 153), rgb(21, 153, 87)); color: rgb(255, 255, 255); line-height: 34px; font-family: Arial; font-size: 14px; vertical-align: middle; cursor: pointer; box-sizing: initial; -webkit-appearance: none; background-color: rgb(21, 87, 153);" type="button" value="Join Now">
									</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table><!-- Do not edit the below Zoho Campaigns hidden tags -->
				<input id="fieldBorder" type="hidden" value="">
				<input name="zc_trackCode" id="zc_trackCode" onload="" type="hidden" value="ZCFORMVIEW">
				<input name="submitType" id="submitType" type="hidden" value="optinCustomView">
				<input name="lD" id="lD" type="hidden" value="17972adb09d63848">
				<input name="emailReportId" id="emailReportId" type="hidden" value="">
				<input name="formType" id="formType" type="hidden" value="QuickForm">
				<input name="zx" id="cmpZuid" type="hidden" value="129118e5b">
				<input name="zcvers" type="hidden" value="3.0">
				<input name="oldListIds" id="allCheckedListIds" type="hidden" value="">
				<input name="mode" id="mode" type="hidden" value="OptinCreateView">
				<input name="zcld" id="zcld" type="hidden" value="17972adb09d63848">
				<input id="document_domain" type="hidden" value="campaigns.zoho.com">
				<input id="zc_Url" type="hidden" value="edap.maillist-manage.com">
				<input id="new_optin_response_in" type="hidden" value="2">
				<input id="duplicate_optin_response_in" type="hidden" value="2">
				<input name="zc_formIx" id="zc_formIx" type="hidden" value="672a1f1946a82fcd816f78c7b028bbb125a6473321217982"><!-- End of the campaigns hidden tags --></form>
		</div>
		<img id="refImage" style="display:none;" onload="referenceSetter(this)" src="https://edap.maillist-manage.com/images/spacer.gif">
	</div>
</div>
<div id="zcOptinOverLay" style="display:none;text-align: center; background-color: rgb(0, 0, 0); opacity: 0.5; z-index: 100; position: fixed; width: 100%; top: 0px; left: 0px; height: 988px;" oncontextmenu="return false"></div>
<div id="zcOptinSuccessPopup" style="display:none;z-index: 9999;width: 800px; height: 40%;top: 84px;position: fixed; left: 26%;background-color: #FFFFFF;border-color: #E6E6E6; border-style: solid; border-width: 1px;  box-shadow: 0 1px 10px #424242;padding: 35px;">
	<span id="closeSuccess" style="position: absolute;top: -16px;right:-14px;z-index:99999;cursor: pointer;">
		<img src="https://edap.maillist-manage.com/images/videoclose.png">
	</span>
	<div id="zcOptinSuccessPanel"></div>
</div>

<!--Zoho Campaigns Web-Optin Form Ends Here-->
        
        <footer class="site-footer">
            <ul>
                <li><a href="/insights/atom.xml">atom feed</a></li>
                <li><a href="https://www.fiverr.com/brainoftech/be-the-ai-consultant-for-your-small-business">consulting</a></li>
                <li><a href="mailto:sam_saarinen@brown.edu">email</a></li>
                <li><a href="https://github.com/Sam-Saarinen">github.com/Sam-Saarinen</a></li>
                <li><a href="https://www.linkedin.com/in/sam-saarinen/">linkedin</a></li>
                <li><a href="https://www.packtpub.com/big-data-and-business-intelligence/hands-artificial-intelligence-small-businesses-video">video course</a></li>
                <li><a href="https://www.youtube.com/channel/UCNXQ5nckbdbRHZjZXk9GT_Q/featured">YouTube</a></li>
            </ul>
            <br>
            All content ©2018, 2019 (S)am.
        </footer>
    </main>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  </body>
</html>